In [16]:
%pylab inline 
# %pylab is a magic function in ipython, and triggers the import of various modules within Matplotlib

Populating the interactive namespace from numpy and matplotlib

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
%matplotlib inline

In [29]:
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

pd.DataFrame(data)
panda_file = pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])
panda_file

     Col1 Col2 col3
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [30]:
panda_file.columns

Index(['Col1', 'Col2', 'col3'], dtype='object')

In [31]:
panda_file['Col2']

Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object

In [32]:
third_row = panda_file.iloc[:,2] # or just df.iloc[2]
third_row

Row1    3
Row2    6
Row3    9
Name: col3, dtype: object

In [33]:
sliced = panda_file.iloc[2,1:2] 
sliced

Col2    8
Name: Row3, dtype: object